;; shadow-cljs configuration
{:source-paths
 ["src"
  "test"]

 :dependencies
 [[org.clojars.akiel/async-error "0.3"]]

 :builds
 {:node-test {:target    :node-test
              :output-to "out/node-tests.js"
              :autorun   true
              :compiler-options {:warnings {:infer-warning false}}}}}
