{:cljdoc.doc/tree [["Readme" {:file "README.md"}]
                   ["Crypto" {:file "doc/crypto/core.md"}
                    ["Cryptopack" {:file "doc/crypto/cryptopack.md"}]]
                   ["Random" {:file "doc/random.md"}]
                   ["Util" {:file "doc/util.md"}]]}